###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

# Visual Studio 2015 cache/options directory
.vs/

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
CityPlannerVR/.vs/CityPlannerVR/v15/sqlite3/storage.ide

###
# RockVR (VR Capture)
###
CityPlannerVR/Assets/External Plugins/RockVR/*
CityPlannerVR/Assets/External Plugins/RockVR.meta
CityPlannerVR/Assets/StreamingAssets/*
CityPlannerVR/Assets/StreamingAssets.meta
CityPlannerVR/Assets/VideoCaptureLib_Log.txt
CityPlannerVR/Assets/VideoCaptureLib_Log.txt.meta

CityPlannerVR/Assets/RockVR/*
CityPlannerVR/Assets/RockVR.meta


###
# Dissonance
###
CityPlannerVR/Assets/External Plugins/Dissonance/*
CityPlannerVR/Assets/External Plugins/Dissonance.meta
CityPlannerVR/Assets/Plugins/Dissonance/*
CityPlannerVR/Assets/Plugins/Dissonance.meta


CityPlannerVR/Assets/Dissonance/

CityPlannerVR/Assets/Dissonance\.meta
CityPlannerVR/GPUCaptureLib_Log.txt

CityPlannerVR/Assets/External Plugins/

###
#Photon
###

CityPlannerVR/Assets/Photon Unity Networking/*
CityPlannerVR/Assets/Photon Unity Networking.meta
CityPlannerVR/Assets/PhotonChatApi/*
CityPlannerVR/Assets/PhotonChatApi.meta

CityPlannerVR/Assets/Resources/Comments/VoiceComments/*
CityPlannerVR/Assets/Resources/Comments/VoiceComments.meta
CityPlannerVR/Assets/Plugins/
